<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
     <div class="posts">
       <div class="card">
         <div class="discount">30%</div>
         <img
           src="images/قائمة العطور الاكثر مبيعا/H5R29aJsf7y7Xih30NKTv8TEWA6Q03x1DqrZgotH.webp"
           alt="عطر مسك بالورد "
           class="product-image"
         />
         <h2 class="product-name">مسك بالورد</h2>
         <p class="product-type">للتمتع برائحة تدوم وتترك أثرا في كل مكان</p>
         <p class="price">
           <span class="old-price">350 L.T </span>
           <span class="new-price"> 250 L.T </span>
         </p>
       </div>
       </div>
</body>
</html>