<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <section class="Comments">
        <h1 class="section-title">:قالوا عنّــا</h1>
        <div class="customer-reviews">
            <div class="customer-reviews-title">
                <h6>آراء العملاء</h6>
            </div>
            <div class="card">
                <div class="card-header">
                    <img src="../icon/avatar_male.webp" alt="">
                    <div class="comment-info">
                        <h4 class="Name"> مبارك سعود</h4>
                        <h5 style="color: #949494;">الرياض</h5>
                    </div>
                </div>
                <p class="comment">اشكر جميع القائمين على المتجر ثقة مصداقية تعامل احترافي في البداية لم يعجبني منتج
                    وخيروني بين استرجاع المبلغ ولكن طلبت تغيير المنتج وبالفعل تم تغييره لمنتج كان هو المطلوب المنتج كان
                    فعلاً في قمة الروعة وافضل ورد مر علي حالياً وسوف أكرر التجربة فهذا متجري المفضل فيما يخص الورد</p>
                <br>
                <div class="start">
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <img src="../icon/avatar_female.webp" alt="">
                    <div class="comment-info">
                        <h4 class="Name"> منصور الحربي</h4>
                        <h5 style="color: #949494;">الجموم</h5>
                    </div>
                </div>
                <p class="comment">افضل متجر تعاملت معه من ناحية خدمة العملاء ومن الجودة الي بالمنتجات والتوصيل سريع</p>
                <br>
                <div class="start">
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span style=" color: #ccc;">&#9733;</span>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <img src="../icon/avatar_male.webp" alt="">
                    <div class="comment-info">
                        <h4 class="Name"> عبدلله الغامدي</h4>
                        <h5 style="color: #949494;">جدة</h5>
                    </div>
                </div>
                <p class="comment">ورد الهدا ..مختصر الذكريات في قارورة عطر وفقكم الله</p><br>
                <div class="start">
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <img src="../icon/avatar_female.webp" alt="">
                    <div class="comment-info">
                        <h4 class="Name"> مها علي</h4>
                        <h5 style="color: #949494;">الرياض</h5>
                    </div>
                </div>
                <p class="comment">العطر أكثر من رااائع راقي ورايق ولاحظت ريحته كل ما تجلس كل ما تحلي 🪻وتعاملهم جداً
                    راقي وصلني العطر للرياض مغلف ومحفوظ وكانوا سريعين الله يبارك لهم💜</p><br>
                <div class="start">
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                    <span>&#9733;</span>
                </div>
            </div>
        </div>
    </section>
</body>

</html>