<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="card">
        <div class="card-header">
            <img src="../icon/avatar_male.webp" alt="">
            <div class="comment-info">
                <h4 class="Name">منصور الحربي</h4>
                <h5 style="color: #949494;">الجموم</h5>
            </div>
        </div>
        <p class="comment">افضل متجر تعاملت معه من ناحية خدمة العملاء ومن الجودة الي بالمنتجات والتوصيل سريع</p><br>
        <div class="start">
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span style=" color: #ccc;">&#9733;</span>
        </div>
    </div>
</body>
</html>