<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <footer>
    <div class="foot-import">
        <h3>روابط مهمة</h3>
        <ul>
            <li>سياسة الاسترجاع والاستبدال</li>
            <li>فرع الراضي للورد الطائفي</li>
            <li>المدونة</li>
            <li>تعرف على الورد الطائفي</li>
            <li>سياية الخصوصية</li>
            <li>الشروط والاحكام</li>
            <li>توفثق منصة اعمال لافندر</li>
        </ul>
    </div>
    <div class="foot-who">
        <h3>من نحن</h3>
        <p>متجر لبيع جميع انواع العطر الطائفي ,زمنتجات العناية بالجسم والبشرة بما يمتاز بارقى العطور المحلية من نفس مزارعنا منذ اكثر من 80عام باسم "لافندر"</p>
    </div>
    <div>
        <h3>تواصل معنا</h3>
        <div class="foot-icon">
            <span>+966537333540</span>
            <img src="../icon/whatsapp.png" alt="icon-whatsapp">
        </div>
        <div class="foot-icon">
            <span>+966537333540</span>
            <img src="../icon/telephone.png" alt="icon-telephone">
        </div>
        <div class="foot-icon">
            <span>+966537333540</span>
            <img src="../icon/mail.png" alt="icon-email">
        </div>
    </div>
</footer>
</body>
</html>