<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
          <div class="input-search">
            <input type="text" name="search" placeholder="ادخل كلمة للبحث" />
            <span
              ><img class="search" src="icon/search (1).png" alt="search"
            /></span>
          </div>
          <div class="logo">
            <img src="images/logo/logo lavender-01.png" alt="logo" />
          </div>
        </nav>
        <div class="header-a">
          <a href="pages/Discounts .html">تخفيضات</a>
          <a href="pages/WomensPerfumes.html">عطور نسائية</a>
          <a href="pages/menPerfumes.html">عطور رجالية</a>
          <a href="pages/bestSellingWomen.html">الاكثر مبيعا للعطور النسائية</a>
          <a href="pages/BestMenPerfumes.html">الاكثر مبيعا للعطور الرجالية</a>
          <a href="pages/perfumes-m.html">معطر المساجد والفنادق والمنازل</a>
          <a href="pages/flowers.html">الازهار و الورود</a>
          <a href="pages/packege.html">باكدجات الصيف</a>
          <a href="pages/musk.html">مسك</a>
        </div>
      </header>
     
</body>
</html>