<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<section class="features">
<div class="feature">
    <img src="../icon/bx_store.svg" alt="icon_store" width="100" height="100">
    <h2>ضمان حقيقي</h2>
    <p>ضمان حقيقي100%</p>
</div>
<div class="feature">
    <img src="../icon/bx_store.svg" alt="icon_store" width="100" height="100">
    <h2>خيارات دفع متعددة وامنة</h2>
    <p>طرق دفع متعددة وامنة</p>
</div>
<div class="feature">
    <img src="../icon/bx_store.svg" alt="icon_store" width="100" height="100">
    <h2>منتجات اصلية</h2>
    <p>منتجات اصلية 100%</p>
</div>
</section>
</body>
</html>